@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap') * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}
.title {
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  color: #ce8686;
  text-align: center;
}

/* фильтрация */
.filter__wrapper {
  position: absolute;
  width: 400px;
  height: 60px;
  /* border: 1px solid #91c9ff; */
  right: 30px;
  top: 67px;
}
.filter__wrapper__title {
  font-size: 14px;
  margin-left: 15px;
  color: rgb(255, 0, 0);
  font-family: 'Lato', sans-serif;
}
.btn-2 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ff0000;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ff0000;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.btn-2:before {
  content: '';
  position: absolute;
  height: 11px;
  width: 100%;
  background: #ff0000;
  left: 0;
  top: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-2:hover:before {
  top: 77%;
}

/* пагинация */
.pagination {
  position: absolute;
  top: 70px;
  left: 360px;
}
.pagination ul {
  display: flex;
  background: inherit;
  padding: 8px;
  justify-content: center;
  border-radius: 50px;
}
.pagination ul li {
  color: #20b2aa;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}
.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn {
  padding: 0 20px;
}
.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}
.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
}
.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  color: #fff;
  background: #20b2aa;
}

/* список товаров*/
.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 100px 30px;
  padding: 0;
  list-style: none;
}
.ProductList__item {
  height: 80px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #96d4e1;
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}
.ProductList__item:hover {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}
.item_id {
  font-size: 5px;
}
.item_price {
  color: darkgreen;
  cursor: pointer;
}
.item_price:hover {
  color: chartreuse;
}
.item_product {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  cursor: pointer;
  list-style: none;
}
.item_product:hover {
  color: grey;
}
.item_brand {
  font-family: 'Roboto Mono', monospace;
  color: darkblue;
  cursor: pointer;
  list-style: none;
}
.item_brand:hover {
  color: blue;
}
.listItem {
  list-style: none;
  cursor: pointer;
}
/* списко наименований */

.listName_item,
.listPrice_item,
.listBrand_item {
  border: 1px solid rgb(255, 0, 0);
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 10px;
  list-style: none;
}
